
        <footer>
            <section id="footer-area" class="footer-area-section">
                <div class="container">
                    <div class="footer-content pb10">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer-widget "  >
                                    <div class="footer-logo mb35">
                                        <img src="assets/assetsmanu/img/logo/f-logo.png" alt="">
                                    </div>
                                    <div class="footer-about-text">
                                        <p>We take our mission of increasing global access to quality education seriously. We connect learners to the best universities and institutions from around the world.</p>
                                        <p>Lorem ipsum dolor sit amet we take our mission of increasing global access to quality education seriously. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-widget "  >
                                    <div class="footer-menu ul-li-block">
                                        <h2 class="widget-title">Useful Links</h2>
                                        <ul>
                                            <li><a href="index-3.html#"><i class="fas fa-caret-right"></i>About Us</a></li>
                                            <li><a href="index-3.html#"><i class="fas fa-caret-right"></i>Graphic Design</a></li>
                                            <li><a href="index-3.html#"><i class="fas fa-caret-right"></i>Mobile Apps</a></li>
                                            <li><a href="index-3.html#"><i class="fas fa-caret-right"></i>Responsive Website</a></li>
                                            <li><a href="index-3.html#"><i class="fas fa-caret-right"></i>Graphic Design</a></li>
                                            <li><a href="index-3.html#"><i class="fas fa-caret-right"></i>Mobile Apps</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                           
                        </div>
                    </div> 
                    <!-- /footer-widget-content -->
                    <div class="footer-social-subscribe mb65">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer-social ul-li "  >
                                    <h2 class="widget-title">Social Network</h2>
                                    <ul>
                                        <li><a href="index-3.html#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="index-3.html#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index-3.html#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                    <div class="copy-right-menu">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="copy-right-text">
                                    <p>© 2021 - Manuel Ramos. Desarrollado por <a href="https://buckapi.com" target="_blank" title="Buckapi"> Buckapi</a>. Todos los derechos reservados</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="copy-right-menu-item float-right ul-li">
                                    <ul>
                                        <li><a href="index-3.html#">License</a></li>
                                        <li><a href="index-3.html#">Privacy & Policy</a></li>
                                        <li><a href="index-3.html#">Term Of Service</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>