  
    <!-- ====================== Book Popular Hotel ================= -->
    
  



  <section>
      <div class="container">
        
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <!-- <span class="theme-cl">Top Destinations</span> -->
              <h1 style="font-family: moderna;">Popular Destinations</h1>
            </div>
          </div>
        </div>
        
        <div class="row">
        
          <!-- Single Destination -->
          <div class="col-md-4 col-md-6">
            <article class="destination-box style-1">

              <div class="destination-box-image" >
                <figure >
                  <a href="#">
                    <img src="assets/img/destination/des-6.jpg" class="img-responsive listing-box-img" alt=""  />
                    <div class="list-overlay" ></div>
                  </a>
                  <div class="discount-flick">-12%</div>
                  <h4 class="destination-place">
                    <a href="#">Halifax, Nova Scotia </a>
                  </h4>
                  <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                </figure>
              </div>
              
              <div class="entry-meta">
                <div class="meta-item meta-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half"></i>
                </div>
                <div class="meta-item meta-comment fl-right">
                  <span class="text-through">$7802</span><span class="real-price padd-l-10 font-bold">$7581</span>
                </div>
              </div>

              <div class="inner-box">
                <div class="box-inner-ellipsis">
                  <h4 class="entry-location">
                    <a href="#">Singapore</a>
                  </h4>
                  <div class="price-box">
                    <div class="destination-price fl-right">
                      <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              
            </article>
          </div>
          
          <!-- Single Destination -->
          <div class="col-md-4 col-md-6">
            <article class="destination-box style-1">

              <div class="destination-box-image" >
                <figure >
                  <a href="#">
                    <img src="assets/img/destination/des-5.jpg" class="img-responsive listing-box-img" alt="" />
                    <div class="list-overlay"></div>
                  </a>
                    <div class="discount-flick">-12%</div>
                    <h4 class="destination-place">
                      <a href="#">New York City, New York</a>
                    </h4>
                    <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                </figure>
              </div>
              
              <div class="entry-meta">
                <div class="meta-item meta-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half"></i>
                </div>
                <div class="meta-item meta-comment fl-right">
                  <span class="text-through">$4525</span><span class="real-price padd-l-10 font-bold">$4258</span>
                </div>
              </div>

              <div class="inner-box">
                <div class="box-inner-ellipsis">
                  <h4 class="entry-location">
                    <a href="#">Switzerland</a>
                  </h4>
                  <div class="price-box">
                    <div class="destination-price fl-right">
                      <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              
            </article>
          </div>
          
          <!-- Single Destination -->
          <div class="col-md-4 col-md-6">
            <article class="destination-box style-1">

              <div class="destination-box-image" >
                <figure >
                  <a href="#">
                    <img src="assets/img/destination/des-4.jpg" class="img-responsive listing-box-img"  />
                    <div class="list-overlay" ></div>
                  </a>
                  <div class="discount-flick">-12%</div>
                  <h4 class="destination-place">
                    <a href="#">Marrakech, Morroco</a>
                  </h4>
                  <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                </figure>
              </div>
              
              <div class="entry-meta">
                <div class="meta-item meta-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half"></i>
                </div>
                <div class="meta-item meta-comment fl-right">
                  <span class="text-through">$1856</span><span class="real-price padd-l-10 font-bold">$1750</span>
                </div>
              </div>

              <div class="inner-box">
                <div class="box-inner-ellipsis">
                  <h4 class="entry-location">
                    <a href="#">Saudi Arabia</a>
                  </h4>
                  <div class="price-box">
                    <div class="destination-price fl-right">
                      <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              
            </article>
          </div>
          
        </div>
    
      </div>
    </section>  
  
    
    <!-- ====================== Popular Domestic Routes From India ================= -->
    
    <!-- ====================== Domestic Routes ================= -->
    <div class="clearfix"></div>
  
    
    <!-- ============== Before Footer ====================== -->
 