<section id="search-course" class="search-course-section home-secound-course-search backgroud-style" style="padding-top: 170px;     margin-bottom: 20px; padding-block-end: 100px;">
	<div class="container">
		<div class="section-title mb20 headline text-center">
			<span class="subtitle text-uppercase">Curso gratis</span>
			<h2><span>Selecciona</span> la opcion que se acerque a ti.</h2>
		</div>
		
		<div class="register-form-area search-course mb30 relative-position">
			<form class="contact_form" action="index-2.html#" method="POST" enctype="multipart/form-data">
				
				<select>
					<option value="9" selected="">Elije una opcion.</option>
					<option value="10">Web Design</option>
					<option value="11">Web Development</option>
					<option value="12">Php Core</option>
				</select>
				
				<div class="nws-button text-center  gradient-bg text-capitalize" style="right: 34px;">
					<button type="submit" value="Submit"> <a routerLink="thank"> Busca tu curso </a> </button> 
				</div> 
			</form>
		</div>
		

	</div>
</section>