

    <!-- Start of about us section
        ============================================= -->
        <section id="about-us" class="about-us-section home-secound" style="padding-top:125px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        
                            <img src="assets/assetsmanu/img/about/abt.jpg" alt="">
                    </div>
                    <!-- /form -->

                    <div class="col-md-5">
                        <div class="about-us-text">
                            <div class="section-title relative-position mb20 headline text-left">
                                <span class="subtitle ml42 text-uppercase">Manuel Ramos</span>
                                <h2>Marketing digital  <span>para su negocio</span>
                                </h2>
                                <p>Soy Manuel Ramos y he ayudado a miles de profesionales y empresas a conseguir clientes, ventas y dinero con su sitio web.</p>
                            </div>
                            <div class="register-fomr-title text-center">
                                    <h3 class="bold-font">Quieres saber como?</h3>
                            </div>
                            <div class="about-content-text">
                                <div class="register-form-area">
                                    <form class="contact_form" action="index.html" method="POST" enctype="multipart/form-data">
                                        <div class="contact-info">
                                            <input class="name" name="name" type="text" placeholder="Ingresa tu nombre.">
                                        </div>
                                        
                                        <div class="contact-info">
                                            <input class="email" name="email" type="email" placeholder="y tu email.">
                                        </div>

                                        <div class="checkbox save-credit" align="left">
                                                <label>
                                                    <input type="checkbox" value="" >
                                                    <span class="cr text-uppercase bold-font"><i class="cr-icon fa fa-check"></i></span>
                                                    Aceptar politicas de privacidad

                                                </label>
                                            </div>
                                        
                                        <div class="nws-button text-uppercase text-center white text-capitalize">
                                            <button type="submit" value="Submit"> Comenzar </button> 
                                        </div> 
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- End of about us section
        ============================================= -->



    <!-- Start of sponsor section
        ============================================= -->
        <div id="sponsor" class="sponsor-section sponsor-2">
            <div class="container">
                <div class="sponsor-item">
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-1.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center ">
                        <img src="assets/assetsmanu/img/sponsor/s-2.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-3.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-4.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-5.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-6.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-1.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-2.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-3.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-4.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-5.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-6.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-1.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-2.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-3.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-4.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-5.jpg" alt="">
                    </div>
                    <div class="sponsor-pic text-center">
                        <img src="assets/assetsmanu/img/sponsor/s-6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    <!-- End of sponsor section
        ============================================= -->

    <!-- Start Course category
        ============================================= -->
        <section id="course-category" class="course-category-section">
            <div class="container">
                <div class="section-title mb45 headline text-center "  >
                    <span class="subtitle text-uppercase">Cambia tu blog </span>
                    <h2>Haz que crezca</h2>
                </div>
                <div class="category-item">
                    <div class="row">
                        <div class="col-md-4 col-xs-6">
                            <div class="category-icon-title text-center "  >
                                <div class="category-icon">
                                    <i class="text-gradiant flaticon-technology"></i>
                                </div>
                                <div class="category-title">
                                    <h4>Responsive Website</h4>
                                </div>
                            </div>
                        </div>
                        <!-- /category -->

                        <div class="col-md-4 col-xs-6">
                            <div class="category-icon-title text-center "  >
                                <div class="category-icon">
                                    <i class="text-gradiant flaticon-app-store"></i>
                                </div>
                                <div class="category-title">
                                    <h4>IOS Applications</h4>
                                </div>
                            </div>
                        </div>
                        <!-- /category -->

                        <div class="col-md-4 col-xs-6">
                            <div class="category-icon-title text-center "  >
                                <div class="category-icon">
                                    <i class="text-gradiant flaticon-artist-tools"></i>
                                </div>
                                <div class="category-title">
                                    <h4>Graphic Design</h4>
                                </div>
                            </div>
                        </div>
                        <!-- /category -->

                        
                        
                    </div>
                </div>
            </div>
        </section>
    <!-- End Course category
        ============================================= -->

